
.App {
  text-align: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  cursor: pointer;
}

.lista-container {
  text-align: left;
  margin-top: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.parejas-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pareja {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
}
